In [1]:
# Importing Libraries
import selenium
import numpy as np
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [13]:
from selenium.webdriver.chrome.options import Options
option = Options()
#option.add_argument("--disable-infobars")
option.add_argument("start-maximized")
#option.add_argument('headless')
option.add_argument('--no-default-browser-check')
#option.add_argument("--disable-extensions")
#option.add_experimental_option("prefs", {"profile.default_content_setting_values.notifications": 2})
option.add_argument("--incognito")

In [ ]:
from selenium.webdriver.chrome.options import Options
option = Options()
chromeOptions.addArguments("--headless");
chromeOptions.addArguments("--test-type");
chromeOptions.addArguments("--disable-gpu");
chromeOptions.addArguments("--no-first-run");
chromeOptions.addArguments("--no-default-browser-check");
chromeOptions.addArguments("--ignore-certificate-errors");
chromeOptions.addArguments("--start-maximized");

In [5]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

url = "https://www.makemytrip.com/flights/?cmp=SEM|D|DF|G|Generic|DF_Generic_Exact|Tickets_Exact|RSA|Offer3|483490446455&s_kwcid=AL!1631!3!483490446455!e!!g!!book%20flight%20tickets&ef_id=Cj0KCQjwnoqLBhD4ARIsAL5JedI9ZITKWAVdKpbHgqzNsni93Kca8Az8cIkciHgLV9iP8w-vTtfgmwEaAo6SEALw_wcB:G:s&gclid=Cj0KCQjwnoqLBhD4ARIsAL5JedI9ZITKWAVdKpbHgqzNsni93Kca8Az8cIkciHgLV9iP8w-vTtfgmwEaAo6SEALw_wcB"
driver.get(url)

time.sleep(1)

In [6]:
loc_urls = []
elem = driver.find_elements_by_xpath("//a[@class='blackText']")
for i in elem:
    loc_urls.append(i.get_attribute('href'))

In [7]:
loc_urls

['https://www.makemytrip.com/flights/new_delhi-chennai-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/mumbai-chennai-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/coimbatore-chennai-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/madurai-chennai-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/new_delhi-goa-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/mumbai-goa-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/bangalore-goa-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/ahmedabad-goa-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/new_delhi-mumbai-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/bangalore-mumbai-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/chennai-mumbai-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/ahmedabad-mumbai-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/chennai-hyderabad-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/mumbai-hyderabad-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/bangalore-hyderabad-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/new_delhi-hyderabad-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/mumbai-new_delhi-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/pune-new_delhi-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/bangalore-new_delhi-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/chennai-new_delhi-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/new_delhi-pune-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/bangalore-pune-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/chennai-pune-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/ahmedabad-pune-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/new_delhi-kolkata-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/mumbai-kolkata-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/bangalore-kolkata-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/pune-kolkata-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/new_delhi-bangalore-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/pune-bangalore-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/mumbai-bangalore-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/kolkata-bangalore-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/mumbai-jaipur-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/new_delhi-jaipur-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/pune-jaipur-cheap-airtickets.html',
 'https://www.makemytrip.com/flights/bangalore-jaipur-cheap-airtickets.html']

In [80]:
origin = ['DEL','MAA','BOM','CJB','IXM','AMD','PNQ']
dest = ['DEL','MAA','BOM','CJB','IXM','AMD','PNQ']
day = ['12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
date_year = '/10/2021'
page_links = []
for i in origin:
    for j in dest:
        for k in range(0, len(day)):
            if (i != j):
                link = 'https://www.makemytrip.com/flight/search?tripType=O&itinerary=' + i + '-' + j + '-' + day[k] + date_year +'&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1633869206087&forwardFlowRequired=true&mpo=&ccde=IN&lang=eng'
                page_links.append(link)
                #driver.get(link)
                #driver.execute_script("window.scrollTo(0, 100);")
            else:
                break

In [115]:
all_details = []
for i in range(0,len(page_links)):
    driver.get(page_links[i])
    time.sleep(4)
    driver.execute_script("window.scrollTo(0, 20000);")
    time.sleep(1)
    try:
        elem_details = driver.find_elements_by_class_name("listingCard")
        for j in elem_details:
            if len(j.text) > 0:
                all_details.append(j.text.split("\n"))
        time.sleep(1)
    except:
        pass

In [116]:
len(all_details)

9478

In [124]:
name = []
dep_time = []
dep_place = []
travel_time = []
stops = []
arr_time = [] 
arr_place = []
price = []

In [121]:
all_details_org = all_details

In [123]:
len(all_details_org)

9478

In [125]:
for i in all_details:
    for j in range(0,len(i)):
        if '₹' in i[j]:
            name.append(i[j-7])
            dep_time.append(i[j-6])
            dep_place.append(i[j-5])
            travel_time.append(i[j-4])
            stops.append(i[j-3])
            arr_time.append(i[j-2])
            arr_place.append(i[j-1])
            price.append(i[j])

In [128]:
print(len(name))
print(len(dep_time))
print(len(dep_place))
print(len(travel_time))
print(len(stops))
print(len(arr_time))
print(len(arr_place))
print(len(price))

9478
9478
9478
9478
9478
9478
9478
9478

In [129]:
df_info = pd.DataFrame({'Airline':name,'Departure Time': dep_time, 'Departure Place': dep_place, 
                        'Travel Time': travel_time, 'Stops': stops, 'Arrival Time': arr_time, 
                        'Arrival Place': arr_place, 'Price': price})
df_info.to_excel("Flight Details.xlsx")

In [131]:
df_info.head()

,Airline,Departure Time,Departure Place,Travel Time,Stops,Arrival Time,Arrival Place,Price
0,AirAsia,08:00,New Delhi,09 h 25 m,1 stop via Bengaluru,17:25,Chennai,"₹ 7,423"
1,Air India,06:00,New Delhi,02 h 55 m,Non stop,08:55,Chennai,"₹ 7,425"
2,IndiGo,06:25,New Delhi,03 h,Non stop,09:25,Chennai,"₹ 7,425"
3,IndiGo,08:30,New Delhi,02 h 55 m,Non stop,11:25,Chennai,"₹ 7,425"
4,Air India,09:45,New Delhi,02 h 55 m,Non stop,12:40,Chennai,"₹ 7,425"

In [196]:
df_info = pd.read_excel("Flight Details.xlsx")

In [197]:
#Elimitaing rows which are not relevant

In [198]:
len(df_info)

9478

In [199]:
df = df_info

In [200]:
to_be_dropped = []
for i in range(0, len(df_info)):
    if '+' in df_info["Arrival Place"][i]:
        to_be_dropped.append(i)

In [201]:
len(to_be_dropped)

979

In [202]:
len(df_info)

9478

In [203]:
df_info.drop(index=to_be_dropped, axis=0, inplace=True)

In [204]:
df_info.drop(columns="Unnamed: 0", axis=1, inplace= True)

In [205]:
df_info.reset_index(inplace=True, drop= True)

In [206]:
for i in range(0, len(df_info)):
    if df_info["Stops"][i] == 'Non Stop' or df_info["Stops"][i] == 'Non stop':
            df_info["Stops"][i] = 0
    else:
        df_info["Stops"][i] = df_info["Stops"][i][0]

In [209]:
df_info["Stops"] = df_info["Stops"].astype('int')

In [215]:
df_info.head()

,Airline,Departure Time,Departure Place,Travel Time,Stops,Arrival Time,Arrival Place,Price
0,AirAsia,08:00,New Delhi,09 h 25 m,1,17:25,Chennai,"7,423"
1,Air India,06:00,New Delhi,02 h 55 m,0,08:55,Chennai,"7,425"
2,IndiGo,06:25,New Delhi,03 h,0,09:25,Chennai,"7,425"
3,IndiGo,08:30,New Delhi,02 h 55 m,0,11:25,Chennai,"7,425"
4,Air India,09:45,New Delhi,02 h 55 m,0,12:40,Chennai,"7,425"

In [214]:
for i in range(0, len(df_info)):
    df_info["Price"][i] = df_info["Price"][i][2:]

<ipython-input-214-1410f548bc42>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_info["Price"][i] = df_info["Price"][i][2:]

In [217]:
for i in range(0, len(df_info)):
    df_info["Price"][i] = df_info["Price"][i].replace(",","")

<ipython-input-217-33039e29d9d9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_info["Price"][i] = df_info["Price"][i].replace(",","")

In [218]:
df_info["Price"] = df_info["Price"].astype('int')

In [225]:
df_info.head()

,Airline,Departure Time,Departure Place,Travel Time,Stops,Arrival Time,Arrival Place,Price
0,AirAsia,0800,New Delhi,09 h 25 m,1,1725,Chennai,7423
1,Air India,0600,New Delhi,02 h 55 m,0,0855,Chennai,7425
2,IndiGo,0625,New Delhi,03 h,0,0925,Chennai,7425
3,IndiGo,0830,New Delhi,02 h 55 m,0,1125,Chennai,7425
4,Air India,0945,New Delhi,02 h 55 m,0,1240,Chennai,7425

In [224]:
for i in range(0, len(df_info)):
    df_info["Departure Time"][i] = df_info["Departure Time"][i].replace(":","")
    df_info["Arrival Time"][i] = df_info["Arrival Time"][i].replace(":","")

<ipython-input-224-31853bd108dd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_info["Departure Time"][i] = df_info["Departure Time"][i].replace(":","")
<ipython-input-224-31853bd108dd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_info["Arrival Time"][i] = df_info["Arrival Time"][i].replace(":","")

In [227]:
df_info["Departure Time"] = df_info["Departure Time"].astype('int')
df_info["Arrival Time"] = df_info["Arrival Time"].astype('int')

In [265]:
hours = []
mins = []
for i in range(0, len(df_info)):
    try:
        if 'h' in df_info["Travel Time"][i]:
            hours.append(df_info["Travel Time"][i].split(" h")[0])
        else:
            hours.append('0')                
    except:
        hours.append('0')
    
    try:
        if 'h' in df_info["Travel Time"][i]:
            mins.append(df_info["Travel Time"][i].split("h ")[1][:-2])
        else:
            mins.append(df_info["Travel Time"][i].split(" m")[0])                        
    except:
        mins.append('0')

In [270]:
hours[2916]

'04'

In [271]:
total_time_taken = []
for i in range(0,len(hours)):
    try:
        total_mins = (int(hours[i])*60) + int(mins[i])
        total_time_taken.append(total_mins)
    except:
        print(hours[i], mins[i], i)

In [272]:
len(total_time_taken)

8499

In [274]:
df_info["Travel Time"] = total_time_taken

In [276]:
df_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8499 entries, 0 to 8498
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          8499 non-null   object
 1   Departure Time   8499 non-null   int32
 2   Departure Place  8499 non-null   object
 3   Travel Time      8499 non-null   int64
 4   Stops            8499 non-null   int32
 5   Arrival Time     8499 non-null   int32
 6   Arrival Place    8499 non-null   object
 7   Price            8499 non-null   int32
dtypes: int32(4), int64(1), object(3)
memory usage: 398.5+ KB

In [277]:
df_info.to_excel("Flight Details v2.xlsx")

In [280]:
for i in range(0, len(df_info)):
    df_info["Airline"][i] = df_info["Airline"][i].split(",")[0]

<ipython-input-280-4a9b91071580>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_info["Airline"][i] = df_info["Airline"][i].split(",")[0]

In [281]:
df_info.to_excel("Flight Details v3.xlsx")

---End of notebook---